attrs==17.4.0
coverage==4.5.1
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.1.0
numpy==1.14.3
opencv-python==3.4.0.12
pluggy==0.6.0
py==1.5.3
pyparsing==2.2.0
pytest==3.5.1
pytest-cov==2.5.1
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
six==1.11.0
